/* Form */

.add-agreement-form {
  width: 615px;
  max-width: 615px;
  padding-bottom: 110px;
  margin: 0 auto;
}

.add-agreement-form label {
  font-weight: bold;
  font-size: 13px;
}

.amount-field {
  position: relative;
}

.amount-field span {
  position: absolute;
  font-size: 13px;
  color: #CCDDE2;
  display: inline-block;
  background-color: #1E2326;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  left: 0;
}

.amount-field input {
  padding-left: 70px;
}


/* Form footer */

.form-footer {
  text-align: center;
  padding-top: 20px;
  margin-top: 55px;
  border-top: 1px solid #1E2326;
  display: block;
}

.add-agreement-form-button {
  background: linear-gradient(to right, #A3C987, #F69783, #78BCEE);
  display: inline-block;
  border-radius: 30px;
  border: none;
  padding: 0;
}

.add-agreement-form-button div {
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  background: #060606;
  height: 38px;
  line-height: 36px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 35px;
  color: #fff;
  margin: 2px;
  cursor: pointer;
}

.add-agreement-form-button div:hover {
  opacity: .8;
}


/* Flash messages */

.flash-success,
.transaction-info {
  width: 100%;
  background-color: #1C2124;
  border-bottom: 3px solid #7BB651;
  height: 45px;
  line-height: 43px;
  font-size: 13px;
  box-sizing: border-box;
  padding: 0 3%;
}

.flash-success img,
.transaction-info img {
  float: left;
  margin: 11px 10px 0 0;
}

.flash-success p,
.transaction-info p {
  margin: 0;
  float: left;
}

.flash-success a,
.transaction-info a {
  color: #E6EDF1;
  text-decoration: none;
  font-size: 12px;
  text-align: right;
  float: right;
}

.flash-success a:hover,
.transaction-info a:hover {
  color: #fff;
}


/* Transaction */

.transaction-info {
  border-top: 3px solid #7BB651;
  background-color: #2B526B;
  border-radius: 6px;
  height: 45px;
  line-height: 45px;
  position: fixed;
  left: 30px;
  bottom: 30px;
}

.transaction-info a {
  color: #8F989D;
  text-decoration: none;
  font-size: 12px;
  text-align: right;
}

.transaction-info a:hover {
  color: #fff;
}

.token-option {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 8px;
  transition: background-color 0.2s;
}

.token-option:hover {
  background-color: #f0f0f0;
}


/* Mobile */

@media only screen and (max-width: 800px) {

  .add-agreement-form {
    width: 90%;
    max-width: 100%;
    padding-bottom: 70px;
  }

  .columns {
    display: block;
  }
  
  .col-01,
  .col-02 {
    width: 100%;
  }
}
