@import "../../styles/variables";

/**
ADD AGREEMENT
===========================
*/

.add-agreement-form {
  width: 615px;
  max-width: 615px;
  padding-bottom: 110px;
  margin: 0 auto;

  @media #{$smartphones-1} {
    width: 90%;
    max-width: 100%;
    padding-bottom: 70px;
  }

  label {
    font-weight: bold;
    font-size: 13px;
  }
}


// Amount

.generic-field,
.amount-field  {
  position: relative;

  span {
    position: absolute;
    font-size: 13px;
    color: $light-gray;
    display: inline-block;
    height: 40px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    left: 0;
  }

  .usd-label {
    padding: 0 15px;
    width: auto;
  }
}

.generic-field {

  span {
    width: 40px;
    line-height: 46px;
  }

  input {
    padding-left: 40px;
  }
}

.amount-field  {
  position: relative;

  span {
    padding: 0 15px;
    line-height: 40px;
    background-color: $dark-blue-2;
  }

  input {
    padding-left: 70px;
  }
}


// Skills

.skill-lv {
  display: block;

  span {
    width: 68px;
    text-align: center;
    float: right;
    color: $light-gray;
  }
}

.skills-field {
  margin-bottom: -17px;
  position: relative;

  i {
    right: 0;
    top: -8px;
    position: absolute;
  }
}

.skills-input {
  padding-right: 75px;
}

.skill-value {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 13px;
  color: $light-gray;
  display: inline-block;
  background: rgba($black, .5);
  text-align: center;
  height: 40px;
  line-height: 38px;
  width: 68px;
}

.add-skill-btn {
  text-decoration: none;
  color: $medium-gray;
  
  img {
    float: left;
    width: 16px;
    margin: 3px 5px 0 0;
  }

  span {
    font-size: $font-small-2;
    font-weight: 600;
  }

  &:hover {
    opacity: .8;
  }
}

.skills-list {
  margin-top: 25px;

  li {
    list-style-type: none;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  em {
    font-style: normal;
    font-size: $font-medium;
    line-height: 28px;
    text-align: center;
    width: 68px;
  }
}

.skill-item {
  display: inline-block;
  padding: 0 15px 0 16px;
  border: 1px solid $medium-gray;
  height: 28px;
  line-height: 22px;
  border-radius: 20px;
  box-sizing: border-box;
  background: rgb(6,6,6);
  background: linear-gradient(-110deg, rgba(6,6,6,.2) 0%, rgba(133,168,190,.2) 100%);

  span {
    font-size: $font-small-2;
    font-weight: normal;
  }

  img {
    float: right;
    width: 16px;
    margin: 5px 0 0 12px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}


// Form footer

.form-footer {
  text-align: center;
  padding-top: 20px;
  margin-top: 55px;
  border-top: 1px solid $dark-blue-2;
  display: block;
}

.add-agreement-form-button {
  background: linear-gradient(to right, $brand-green, $brand-red, $brand-blue);
  display: inline-block;
  border-radius: 30px;
  border: none;
  padding: 0;

  div {
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    background: $dark-blue;
    height: 38px;
    line-height: 36px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 35px;
    color: $white;
    margin: 2px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}
