/* Form */

.add-agreement-form {
  width: 615px;
  max-width: 615px;
  padding: 120px 0;
  margin: 0 auto;
}

.add-agreement-form label {
  font-weight: bold;
  font-size: 13px;
}


/* Form footer */

.form-footer {
  text-align: center;
  padding-top: 20px;
  margin-top: 25px;
  border-top: 1px solid #1E2326;
  display: block;
}

.add-agreement-form-button {
  background: linear-gradient(to right, #A3C987, #F69783, #78BCEE);
  display: inline-block;
  border-radius: 30px;
  border: none;
  padding: 0;
}

.add-agreement-form-button div {
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  background: #060606;
  height: 38px;
  line-height: 35px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 30px;
  color: #fff;
  margin: 2px;
  cursor: pointer;
}

.add-agreement-form-button div:hover {
  opacity: .8;
}


/* Transaction */

.transaction-info {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-top: 20px;
}

.transaction-info a {
  display: inline-block;
  background-color: #775ce1;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s;
}

.transaction-info a:hover {
  background-color: #634bc7;
}

.token-option {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 8px;
  transition: background-color 0.2s;
}

.token-option:hover {
  background-color: #f0f0f0;
}


/* Mobile */

@media only screen and (max-width: 800px) {

  .add-agreement-form {
    width: 100%;
    max-width: 100%;
  }

  .columns {
    display: block;
  }
  
  .col-01,
  .col-02 {
    width: 100%;
  }
}
