@import "../../styles/variables";

/**
DASHBOARD
===========================
*/

.user-home {
  width: 615px;
  max-width: 615px;
  margin: 0 auto;

  @media #{$smartphones-1} {
    width: 90%;
  }
}


// Balance

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media #{$smartphones-1} {
    display: block;
  }

  h1 {
    width: 48%;
    font-size: $font-bigger-2;
    text-align: left;

    @media #{$smartphones-1} {
      font-size: $font-large-2;
      margin: 40px 0 15px 0;
      width: 100%;
    }
  }

  .balance-heading {
    width: 48%;
    height: auto;
    text-align: right;
    position: relative;
    margin-top: 11px;

    @media #{$smartphones-1} {
      border: 1px solid $dark-blue-2;
      background: rgba($medium-blue, .07);
      border-radius: 6px;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      margin-bottom: 20px;
      text-align: left;
    }

    p {
      margin: 0;
    }
  }

  .usd-balance {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media #{$smartphones-1} {
      justify-content: flex-start;
    }

    img {

      @media #{$smartphones-1} {
        width: 26px;
        height: 26px;
      }
    }
  
    span {
      font-size: $font-big-4;
      display: inline-block;
      margin: 0 90px 0 7px;

      @media #{$smartphones-1} {
        font-size: $font-large-2;
      }
    }
  }

  .opened-items {
    background-color: $dark-gray;
    border-radius: 6px;
    padding-left: 60px;
    position: absolute;
    right: 0;
    top: 6px;
    z-index: 300;

    @media #{$smartphones-1} {
      background: none;
      padding-left: 0;
      right: 15px;
      top: 15px;
    }
  }
  
  input {
    display: inline-block;
    height: 26px;
    border-radius: 4px;
    padding: 0 7px;
    font-size: 11px;
    margin: 0;
    background: rgba(255, 255, 255, 0.01);
    width: 140px;

    @media #{$smartphones-1} {
      width: 90px;
      background-color: $dark-blue;
    }
  }
  
  input:focus {
    outline: none;
    box-shadow: none;
  }
  
  a,
  button {
    font-size: 11px;
    font-weight: bold;
    color: #E6EDF1;
    display: inline-block;
    border-radius: 50px;
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
  
  a {
    color: #E6EDF1;
    height: 24px;
    background: none;
    border: 1px solid $medium-gray;
    line-height: 23px;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 7px;
    z-index: 0;

    @media #{$smartphones-1} {
      top: 15px;
      right: 15px;
    }
  }
  
  button {
    color: $white;
    border: 1px solid $green;
    background: rgba(255, 255, 255, 0.01);
    margin-left: 7px;
    display: inline-block;
    height: 25px;
  }
}


// Home calls

.home-calls {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media #{$smartphones-1} {
    display: block;
    margin-bottom: 45px;
  }

  li {
    list-style-type: none;
    width: 31%;
    height: 240px;
    background-color: $dark-blue-2;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px;
    position: relative;

    @media #{$smartphones-1} {
      width: 100%;
      height: auto;
      padding-bottom: 75px;
      margin-bottom: 20px;
    }
  }

  h2 {
    font-size: $font-large-2;
    font-weight: normal;
    line-height: 28px;
    margin: 0;

    @media #{$smartphones-1} {
      font-size: $font-large;

      br {
        display: none;
      }
    }
  }

  p {
    font-size: $font-small;
    line-height: 17px;
    color: $light-gray;
    margin: 15px 0 0 0;

    strong {
      color: $white;
    }
  }

  a {
    color: $medium-gray;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background: rgba($white, .05);
    font-size: $font-medium;
    text-decoration: none;
    padding-left: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &:hover {
      color: $light-gray;
    }
  }
}

.progressbar {
  height: 5px;
  background: #323232;
  border-radius: 3px;
  margin: 28px 0 -10px 0;

  div {
    width: 35%;
    height: 5px;
    background: rgb(163,201,135);
    background: linear-gradient(110deg, $green 0%, $red 150%);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
}

.disabled {
  opacity: .35;
}


// Payments

.payments-section {
  width: 615px;
  max-width: 615px;
  padding-bottom: 110px;
  margin: 0 auto;
  margin-top: 60px;

  @media #{$smartphones-1} {
    padding-bottom: 50px;
    width: 90%;
  }

  h2 {
    margin: 0 0 30px 0;
    font-size: $font-large-2;
    font-weight: 500;

    @media #{$smartphones-1} {
      font-size: $font-large;
    }
  }
}

.payment-item {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid $dark-blue-2;
  background: rgba($medium-blue, .07);
  border-radius: 6px;
  font-size: 14px;
  color: $white;
  box-sizing: border-box;
  display: block;
  margin: 8px 0 15px 0;
  padding: 20px;
  @extend %clearfix;
  position: relative;

  @media #{$smartphones-1} {
    padding: 15px;
  }

  .payment-avatar {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: rgba($white, .03);
    margin-right: 20px;
    text-align: center;
    padding-top: 11px;
    box-sizing: border-box;
    float: left;

    @media #{$smartphones-1} {
      margin-right: 15px;
    }

    img {
      width: 28px;
      height: 28px;
    }
  }

  h3 {
    font-size: $font-medium-2;
    padding: 3px 0 8px 0;
    font-weight: 600;

    @media #{$smartphones-1} {
      font-size: $font-medium;
      padding: 8px 0 3px 0;
    }
  }

  a {
    color: $medium-gray;
    font-size: $font-small;
    text-decoration: none;

    @media #{$smartphones-1} {
      font-size: 09px;
    }
  }

  .value-status {
    position: absolute;
    text-align: right;
    right: 20px;
    top: 22px;

    @media #{$smartphones-1} {
      top: 23px;
    }

    em {
      font-size: $font-large;
      display: block;
      font-style: normal;
      margin-bottom: 5px;

      @media #{$smartphones-1} {
        font-size: $font-medium;
        margin-bottom: 8px;
      }
    }

    img {
      width: 20px;
      float: right;
      margin: -3px 0 0 5px;
    }

    span {
      display: inline-block;
      font-size: 9px;
    }

    strong {
      font-weight: normal;

      @media #{$smartphones-1} {
        display: none;
      }
    }

    .paid {
      color: $light-gray;
    }

    .received {
      color: $green;
    }
  }
}


// Drawer

.drawer {
  background: rgb(6,6,6);
  background: linear-gradient(180deg, rgba(6,6,6,1) 69%, rgba(18,18,18,1) 100%);
  padding: 40px;
  z-index: 9999;

  @media #{$smartphones-1} {
    padding: 40px 20px;
    box-sizing: border-box;
  }

  h2 {
    margin: 0 0 40px 0;
    font-weight: normal;
  }

  label {
    font-weight: bold;
    font-size: 13px;
  }

  button {
    border-radius: 25px;
    color: $white;
    border: 1px solid $medium-gray;
    background: rgba(255, 255, 255, 0.01);
    display: inline-block;
    height: 40px;
    font-size: $font-medium;
    padding: 0 20px;
    cursor: pointer;

    &:hover {
      border-color: $white;
    }
  }
}
