@import "../../styles/variables";

/**
CONNECT WALLET
===========================
*/

.connect-wallet-bg {
  background-image: url("../../public/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;

  @media #{$smartphones-1} {
    background: $white;
    height: auto;
  }

  footer {

    @media #{$smartphones-1} {
      background: rgb(6,6,6);
    }

    li a:hover {
      color: $dark-gray;
    }
  }
}

.home-entry {
  background: rgba($white, .93);
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  width: 420px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$smartphones-1} {
    width: 100%;
    position: inherit;
    padding: 0 20px;
  }
  
  h2 {
    margin: 80px 0 15px 0;
    font-weight: 600;
    font-size: $font-large-3;
    color: $light-gray;
    line-height: 47px;
    color: $dark-gray;
    letter-spacing: -1px;

    @media #{$smartphones-1} {
      font-size: $font-large-2;
      line-height: 34px;
      margin-top: 50px;
    }
  }

  img {
    width: 130px;

    @media #{$smartphones-1} {
      width: 100px;
    }
  }
}


// Connect wallet btn

.connect-wallet {
  background: linear-gradient(to right, $brand-green, $brand-red, $brand-blue);
  display: inline-block;
  border-radius: 30px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.connect-wallet div {
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  background: $white;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 25px;
  color: $medium-blue;
  margin: 2px;
  cursor: pointer;
}

.connect-wallet div:hover {
  opacity: .8;
}


// Modal

.modal {
  background: rgba($dark-blue, .98);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  text-align: center;

  .modal-content {
    width: 450px;
    margin: auto;

    @media #{$smartphones-1} {
      width: 90%;
    }
  }

  h3 {
    font-weight: bold;
    margin: 0 0 50px 0;
  }

  .close-modal {
    right: 20px;
    top: 18px;
    position: absolute;
    cursor: pointer;
  }
}

.chains-list {

  li {
    list-style-type: none;
    margin-bottom: 20px;
    text-align: left;

    @media #{$smartphones-1} {
      text-align: center;
    }
  }

  a {
    background: rgba($white, .1);
    width: 100%;
    display: inline-block;
    cursor: pointer;
    padding: 27px 17px 20px 17px;
    box-sizing: border-box;
    border-radius: 6px;

    @media #{$smartphones-1} {
      padding: 27px;
    }

    &:hover {
      background: rgba($white, .2);
    }
  }

  h4 {
    margin: 0 0 7px 0;
  }

  p {
    font-size: $font-medium;
    color: $light-gray;
    line-height: 20px;
  }

  img {
    margin: -10px 20px 0 0;
    float: left;

    @media #{$smartphones-1} {
      float: none;
      margin: 0 0 10px 0;
    }
  }
}

