.add-task-form-button {
    background-color: #775ce1;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
  }
  
  .add-task-form-button:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  