@import "../../styles/variables";

/**
ONBOARDING
===========================
*/


// Profile selection

.profile-selection {
  width: 615px;
  max-width: 615px;
  margin: 0 auto;
  padding-bottom: 110px;

  @media #{$smartphones-1} {
    width: 90%;
    padding-bottom: 0;
  }

  h1 {
    font-size: $font-bigger-2;
    margin-bottom: 30px;

    @media #{$smartphones-1} {
      font-size: $font-large-2;
      margin: 40px 0 20px 0;
      width: 100%;
    }
  }
}


// Steps

.onboarding-steps {
  text-align: center;
  margin-bottom: 60px;

  @media #{$smartphones-1} {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;

    @media #{$smartphones-1} {
      margin: 0;
    }
  }

  p {
    font-size: $font-small;
    margin: 5px 0 0 0;
    color: $normal-gray;

    @media #{$smartphones-1} {
      font-size: 9px;
    }

    span {
      display: inline;

      @media #{$smartphones-1} {
        display: block;
      }
    }
  }

  .done-step,
  .current-step {

    p {
      color: $white;
    }  
  }
}


// Roles list

.roles-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media #{$smartphones-1} {
    display: block;
    margin-bottom: 45px;
  }

  li {
    list-style-type: none;
    width: 31%;
    height: 240px;
    border: 1px solid $dark-blue-2;
    background: rgba($medium-blue, .07);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px;
    position: relative;

    @media #{$smartphones-1} {
      width: 100%;
      height: auto;
      padding-bottom: 75px;
      margin-bottom: 20px;
    }
  }

  h2 {
    font-size: $font-large-2;
    font-weight: normal;
    line-height: 28px;
    margin: 30px 0 0 0;

    @media #{$smartphones-1} {
      font-size: $font-large;
    }
  }

  p {
    font-size: $font-small;
    line-height: 17px;
    color: $light-gray;
    margin: 5px 0 0 0;

    strong {
      color: $white;
    }
  }

  a {
    color: $medium-gray;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background: rgba($white, .03);
    font-size: $font-medium;
    text-decoration: none;
    padding-left: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &:hover {
      opacity: .8;
    }
  }
}

.community-call {

  a {
    color: $brand-green;
  }
}

.professional-call {

  a {
    color: $brand-red;
  }
}

.contractor-call {

  a {
    color: $brand-blue;
  }
}
