@import "../../styles/variables";

/**
AGREEMENT LIST
===========================
*/


// Action bar

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 35px 0;

  @media #{$smartphones-1} {
    display: block;
    padding: 45px 0;
  }

  h1 {
    text-align: left;
    margin: 0;
    display: inline-block;
  }

  ul {
    text-align: right;
    padding-top: 5px;

    @media #{$smartphones-1} {
      text-align: left;
      border-top: 1px solid #1E2326;
      padding-top: 10px;
      margin-top: 10px;
    }
  }
  
  li {
    list-style-type: none;
    font-size: 14px;
    display: inline-block;
    margin-left: 25px;

    @media #{$smartphones-1} {
      text-align: left;
      margin: 0 25px 0 0;
    }
  }
  
  a {
    text-decoration: none;
    color: rgba($light-gray, .4);

    @media #{$smartphones-1} {
      text-align: left;
      padding: 0;
    }
  
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }

  .actived {
    color: $white;
  }
}

.add-link {

  img {
    width: 20px;
    height: 20px;
    margin: 6px 0 0 10px;
    display: inline-block;
    float: right;
  }

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}


// Cards list

.agreement-list {
  width: 500px;
  max-width: 615px;
  padding-bottom: 100px;
  margin: 0 auto;

  @media #{$smartphones-1} {
    width: 90%;
    margin: auto;
    max-width: 100%;
    padding-bottom: 35px;
  }
}

.card-list {
  margin: 0;
}

.card {
  border: 1px solid $dark-blue-2;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(43, 82, 107, .07);
  padding: 75px 25px 80px 25px;
  margin-bottom: 20px;
  position: relative;

  h2 {
    font-size: 20px;
    margin: 15px 0 5px 0;
    color: $white;
  }

  input[type="checkbox"] {
    position: absolute;
    right: 10px;
    top: -10px;
    z-index: 500;
  }
}

.card-heading {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: rgba(255, 255, 255, 0.01);
  height: 75px;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 25px;
}

.wallet-key {
  font-size: 11px;
  color: rgba($light-gray, .4);
  margin-bottom: 15px;
  display: inline-block;
  font-weight: 300;
}


// Card description

.card-desc {
  border-bottom: 1px solid #181A1C;
  padding-bottom: 20px;
  margin-top: 17px;
  font-size: 12px;
  color: $white;
  line-height: 20px;
}


// Skills

.skills-section {
  margin: 23px 0 21px 0;
}

.skills-section span {
  display: inline-block;
  margin-right: 5px;
  padding: 0 10px;
  border: 1px solid $medium-gray;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  background: rgb(6,6,6);
  background: linear-gradient(-110deg, rgba(6,6,6,.2) 0%, rgba(133,168,190,.2) 100%);
  font-size: 11px;
}


// Values

.card p {
  font-size: 12px;
  color: $white;
  line-height: 22px;
}

.card p strong {
  width: 130px;
  display: inline-block;
  font-weight: 600;
  color: $medium-gray;
}

.card p strong.total-paid {
  color: $light-gray;
}


// Card footer

.card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: rgba(255, 255, 255, 0.01);
  height: 60px;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 25px;
  z-index: 0;

  input {
    display: inline-block;
    height: 26px;
    border-radius: 4px;
    padding: 0 7px;
    font-size: 11px;
    margin: 0;
  }

  .min-select {
    width: 120px;
    border: 1px solid $dark-blue-2;
    background: $dark-blue-2;
    border-radius: 6px;
    font-size: 14px;
    color: $white;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 7px 0 0;
    height: 26px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0 7px;
    font-size: 11px;
  }
  
  select {
    width: 100%;
    background: none;
    border: none;
    color: $white;
  }

  option {
    background-color: $dark-blue-2;
  }
  
  input {
    background: rgba(255, 255, 255, 0.01);
    width: 160px;
  }
  
  input:focus {
    outline: none;
    box-shadow: none;
  }
  
  a,
  button {
    font-size: 11px;
    font-weight: bold;
    color: $light-gray;
    display: inline-block;
    border-radius: 50px;
    padding: 0 10px;
    cursor: pointer;
  }
  
  a {
    height: 24px;
    background: none;
    border: 1px solid $medium-gray;
    line-height: 23px;
    z-index: 100;
    position: absolute;
    left: 25px;
    top: 17px;
    z-index: 200;
  }
  
  button {
    color: $white;
    border: 1px solid $green;
    background: rgba(255, 255, 255, 0.01);
    margin-left: 7px;
    display: inline-block;
    height: 25px;
  }
  
  button:hover,
  a:hover {
    opacity: .8;
  }
}

.opened-items {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 17px;
  z-index: 300;
}

.footer-btns {
  border-top: 1px solid $dark-blue-2;
  padding-top: 20px;
  margin-top: 45px;
  text-align: center;
}

.pay-btn {
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid $medium-gray;
  background: none;
  height: 38px;
  display: inline-block;
  font-size: $font-medium;
  text-align: center;
  box-sizing: border-box;
  padding: 0 25px;
  color: $white;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}


/* Mobile */

@media only screen and (max-width: 800px) {

  .card,
  .card-heading,
  .card-footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-footer a {
    left: 15px;
  }

  .opened-items {
    left: 15px;
    right: 15px;
  }

  .card-footer select {
    width: 115px;
  }

  .card-footer input {
    width: 60px;
  }
}

.no-agreement-message {
  padding: 70px 20px;
  text-align: center;
  border: 1px solid $dark-blue-2;
  border-radius: 6px;
  font-size: $font-medium;
  font-weight: 500;
  color: $light-gray;

  img {
    margin-bottom: 10px;
  }
}
