/* App.css */

.agreement-list {
  width: 615px;
  max-width: 615px;
  margin: 0 auto;
  padding: 100px 0;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #333;
}

.card p {
  font-size: 16px;
  margin-bottom: 4px;
  color: #333;
}

.card strong {
  font-weight: bold;
}
