/* AgreementList.module.css */

.agreement-list {
  width: 500px;
  max-width: 615px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.agreement-list h1 {
  margin: 45px 0 35px 0;
}

.card-list {
  margin: 0;
}

.card {
  border: 1px solid #1E2326;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(43, 82, 107, .07);
  padding: 25px;
  padding-top: 22px;
  padding-bottom: 78px;
  position: relative;
  height: 310px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff;
}

.wallet-key {
  font-size: 11px;
  color: #999;
  margin-bottom: 15px;
  background: #161616;
  border: 1px solid #1A1A1A;
  padding: 3px 5px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 300;
}

.card p {
  font-size: 12px;
  color: #fff;
  line-height: 22px;
}

.card p strong {
  width: 130px;
  display: inline-block;
  font-weight: 600;
  color: #85A8BE;
}

.card-desc {
  border-bottom: 1px solid #0D0D0D;
  margin-bottom: 17px;
  padding-bottom: 17px;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}

.card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: rgba(255, 255, 255, 0.01);
  height: 60px;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-left: 25px;
}

.card-footer .select {
  float: left;
}

.opened-items {
  position: absolute;
  left: 25px;
  top: 17px;
  z-index: 300;
}

.opened-items:after {
  content: "";
  display: table;
  clear: both;
}

.card-footer input,
.card-footer select {
  display: inline-block;
  height: 26px;
  border-radius: 4px;
  padding: 0 7px;
  font-size: 11px;
  margin: 0;
}

.card-footer select {
  width: 120px;
  margin-right: 7px;
  background-color: #151A1C;
}

.card-footer input {
  width: 160px;
}

.card-footer input:focus {
  outline: none;
  box-shadow: none;
}

.card-footer a,
.card-footer button {
  font-size: 11px;
  font-weight: bold;
  color: #E6EDF1;
  display: inline-block;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
}

.card-footer a {
  color: #E6EDF1;
  height: 24px;
  background: none;
  border: 1px solid #85A8BE;
  background-color: #0D0D0D;
  line-height: 23px;
  z-index: 100;
  position: absolute;
  left: 25px;
  top: 17px;
  z-index: 200;
}

.card-footer a:hover {
  border-color: #fff;
}

.card-footer button {
  color: #fff;
  border: 1px solid #789C5D;
  background: #789C5D;
  margin-left: 7px;
  display: inline-block;
  height: 25px;
}

.card-footer button:hover {
  opacity: .8;
}


/* Mobile */

@media only screen and (max-width: 800px) {

  .agreement-list {
    width: 90%;
    margin: auto;
    max-width: 100%;
  }
}
