/**
COMPONENTS
===========================
*/

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.sweet-loading {
  display: block;
  margin: 0 auto;
}

.connect-wallet-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #775ce1;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.connect-wallet-button:hover {
  background-color: #634bc7;
}
