/**
COMPONENTS
===========================
*/


// View all link

.view-all {
  display: inline-block;
  padding: 0 10px;
  border: 1px solid $dark-blue-2;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  font-size: 11px;
  color: $medium-gray;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    border-color: $medium-gray;
    color: $white;
  }
}


// Flash messages
.flash-success,
.flash-error,
.transaction-info {
  width: 100%;
  background-color: $dark-blue-2;
  height: 45px;
  line-height: 41px;
  font-size: $font-medium;
  box-sizing: border-box;
  padding: 0 3%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  img {
    float: left;
    margin: 11px 10px 0 0;
  }

  p {
    margin: 0;
    float: left;
  }

  a {
    color: $light-gray;
    text-decoration: none;
    font-size: 12px;
    text-align: right;
    float: right;

    &:hover {
      color: $white;
    }
  }
}

.flash-success {
  border-bottom: 3px solid $green;
}

.flash-pending {
  border-bottom: 3px solid $medium-gray;
}

.flash-error {
  border-bottom: 3px solid $red;
}

.flash-alert {
  border-bottom: 3px solid $orange;
}



// Loading

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.sweet-loading {
  display: block;
  margin: 0 auto;
}


// Tooltip

i {
  font-weight: normal;
  line-height: 16px;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
}

[data-tooltip] {
  position: relative;
  display: inline-block;
}

[data-tooltip]::before {
  position: absolute;
  z-index: 999;
}

[data-tooltip].tooltip-top::before {
  bottom: 100%;
  margin-bottom: 0;
}

[data-tooltip].bottom::before {
  top: 100%;
}

[data-tooltip]::before {
  visibility: hidden;
  opacity: 0;
  transition:
  opacity 1s;
}

[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

[data-tooltip] {
  //background: $white;
}

[data-tooltip]::before {
  background: #333;
  color: $white;
  padding: 8px 12px;
  min-width: 165px;
  text-align: center;
  border-radius: 6px;
  font-size: $font-small;
  box-sizing: border-box;
  font-style: normal;
  right: 0;
}

