/**
COMPONENTS
===========================
*/

.connect-wallet-bg {
  background-image: url("../public/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
}

.home-entry {
  background: rgba($white, .93);
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  width: 420px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h2 {
    margin: 80px 0 15px 0;
    font-weight: 600;
    font-size: $font-large-3;
    color: $light-gray;
    line-height: 47px;
    color: $dark-gray;
    letter-spacing: -1px;

    @media #{$smartphones-1} {
      font-size: $font-large-2;
      line-height: 34px;
      margin-top: 50px;
    }
  }
}


// Connect wallet btn

.connect-wallet {
  background: linear-gradient(to right, #A3C987, #F69783, #78BCEE);
  display: inline-block;
  border-radius: 30px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.connect-wallet div {
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  background: $white;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 25px;
  color: $medium-blue;
  margin: 2px;
  cursor: pointer;
}

.connect-wallet div:hover {
  opacity: .8;
}


// Loading

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.sweet-loading {
  display: block;
  margin: 0 auto;
}

