/**
GLOBAL
===========================
*/

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba($medium-blue, .07);
  font-size: $font-medium;
  z-index: 600;

  p {
    margin: 18px 0 0 0;
    float: left;

    img {
      float: left;
      margin: -6px 12px 0 0;
    }
  }

  ul {
    float: right;
  }

  li {
    list-style-type: none;
    margin-left: 25px;
    display: inline-block;
    line-height: 50px;
  }

  a {
    color: $normal-gray;
    text-decoration: none;

    &:hover {
      color: $white;
      opacity: 1;
    }
  }
}
