/**
GLOBAL
===========================
*/

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background: #1a1a1a;
  padding: 10px 5px 6px 5px;
  z-index: 600;
}
