/**
FORMS
===========================
*/

input,
textarea,
.select {
  width: 100%;
  border: 1px solid #1E2326;
  background: rgba(#2B526B, .07);
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
  display: block;
  margin: 8px 0 22px;
  height: 40px;
}

input,
.select {
  line-height: 40px;
  padding: 0 15px;
}

textarea {
  padding: 12px 15px;
  line-height: 22px;
  max-width: 100%;
  min-width: 100%;
  min-height: 84px;
  max-height: 140px;
}


// Custom select

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  color: $white;

  &::-ms-expand {
    display: none;
  }

  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  line-height: 38px;
  padding: 0;

  select,
  &::after {
    grid-area: select;
  }

  select { 
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 18px;
  }

  &:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    margin-right: 15px;
  }

  option {
    background-color: #101315;
    color: $white;
    font-size: 14px;
  }
}
