/**
FORMS
===========================
*/

form {

  label {
    color: $light-gray;
  }
}

input,
textarea,
select {
  width: 100%;
  border: 1px solid $dark-blue-2;
  background: rgba($medium-blue, .07);
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
  display: block;
  margin: 8px 0 22px 0;
  height: 40px;
}

input {
  line-height: 40px;
  padding: 0 15px;
}

textarea {
  padding: 12px 15px;
  line-height: 22px;
  max-width: 100%;
  min-width: 100%;
  min-height: 84px;
  max-height: 140px;
}
