/**
FORMS
===========================
*/

form {

  label {
    color: $light-gray;

    span {
      color: $red;
    }
  }
}

input,
textarea,
.custom-select {
  width: 100%;
  border: 1px solid $dark-blue-2;
  background: rgba($medium-blue, .07);
  border-radius: 6px;
  font-size: 14px;
  color: $white;
  box-sizing: border-box;
  display: block;
  margin: 8px 0 22px 0;
  height: 40px;
}

.custom-select {
  padding: 0 10px;
  line-height: 38px;

  select {
    width: 100%;
    background: none;
    border: none;
    color: $white;
  }

  option {
    background-color: $dark-blue-2;
  }
}

input {
  line-height: 40px;
  padding: 0 15px;
}

textarea {
  padding: 12px 15px;
  line-height: 22px;
  max-width: 100%;
  min-width: 100%;
  min-height: 83px;
  max-height: 140px;
}

#community-description-input {
  min-height: 72px;
}


.validation-msg {
  font-size: $font-small;
  color: $red;
  margin-top: 5px;
}


// Custom select

.custom-select {

}
