/**
GLOBAL
===========================
*/


// Core

@import "normalize";
@import "variables";
@import "grid";
@import "header";
@import "components";
@import "forms";


// Generic elements

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark-gray;
  font-family: $sans-serif;
  color: $white;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0 0 55px 0;
  font-size: $font-big;
  letter-spacing: -1px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background: $black;
  padding: 10px 5px 6px 5px;
}
