/**
GLOBAL
===========================
*/


// Core

@import "normalize";
@import "variables";
@import "grid";
@import "header";
@import "components";


// Generic elements

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark-gray;
  font-family: $sans-serif;
  color: $white;
  margin: 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background: $black;
  padding: 10px 5px 6px 5px;
}
