/**
GLOBAL
===========================
*/


// Core

@import "normalize";
@import "variables";
@import "grid";
@import "header";
@import "forms";
@import "footer";
@import "connect-wallet";
@import "dashboard";
@import "payments";
@import "components";


// Generic elements

html {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans-serif;
  background: rgb(6,6,6);
  background: linear-gradient(180deg, rgba(6,6,6,1) 69%, rgba(18,18,18,1) 100%);
  color: $white;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 55px 0 50px 0;
  font-size: $font-big;
  letter-spacing: -1px;
  font-weight: 500;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}


