/**
HEADER
===========================
*/

.main-header {
  width: 100%;
  height: 60px;
  background: rgba($white, 1);
  @extend %clearfix;
}


// Logo

.logo {
  float: left;
  margin-top: 13px;

  @media #{$smartphones-1} {
    margin-bottom: 0;
  }

  > a img {
    width: 150px;

    @media #{$smartphones-1} {
      width: 100px;
    }
  }
}


// User wallet

.user-wallet {
  border-radius: 15px;
  padding: 0 15px 0 0;
  height: 30px;
  line-height: 30px;
  float: right;
  font-size: $font-small;
  font-weight: normal;
  border: 1px solid $light-gray;
  margin-top: 14px;
  color: $medium-blue;

  img {
    float: right;
    margin: 5px 0 0 15px;
  }

  em {
    font-style: normal;
    padding-left: 15px;
  }

  span {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    text-indent: -9999px;
    float: right;
    margin: 11px 0 0 5px;
  }
}

.wallet-on {
  background: $green;
}

.wallet-off {
  background: #C6DBE8;
}

