/**
HEADER
===========================
*/

.main-header {
  width: 100%;
  height: 60px;
  background: rgba($white, 1);

  .holder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 60px;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 75%;
  }

  nav {
    text-align: right;

    @media #{$smartphones-1} {
      animation: tracking-in-expand 1s ease-in-out;
      background: linear-gradient(110deg, rgba(6, 6, 6, .99) 0%, rgba(47, 47, 47, .98) 100%);
      position: fixed;
      box-sizing: border-box;
      text-align: left;
      left: 0;
      bottom: 0;
      top: 0;
      width: 200px;
      z-index: 9999;
      margin-top: 0;
      padding: 2px 20px 20px 20px;

      img {
        width: 39px;
        margin-left: 3px;
      }
    }
  }

  ul {

    @media #{$smartphones-1} {
      padding-top: 20px;
    }
  }

  li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;

    @media #{$smartphones-1} {
      display: block;
    }
  }

  a {
    height: 30px;
    line-height: 30px;
    float: right;
    font-size: $font-medium;
    font-weight: normal;
    color: $dark-blue;
    text-decoration: none;
    cursor: pointer;

    @media #{$smartphones-1} {
      width: 100%;
      color: $light-gray;
      height: 36px;
      line-height: 36px;
      border-radius: 4px;
      background: rgba($white, .05);
      padding: 0 15px;
      margin: 0 0 2px 0;
      display: block;
      float: none;
    }

    &:hover {
      opacity: .8;
    }
  }

  a.local-trigger {
    font-weight: bold;
    color: $normal-gray;
    font-size: $font-small;
  }
}

.menu-trigger {
  width: 30px;
  cursor: pointer;
  margin: 0 0 0 15px;
  display: none;

  @media #{$smartphones-1} {
    display: block;
  }
}


// Logo

.logo {

  @media #{$smartphones-1} {
    width: 85px;
  }
}

.logo-mobile {
  display: none;

  @media #{$smartphones-1} {
    display: block;
  }
}

// User wallet
.wallet-adapter-button {
  padding: 10px !important;
  height: 35px !important;
}

.wallet-adapter-modal-list .wallet-adapter-button {
  height: 50px !important;
  padding: 20px !important;
}

.wallet-adapter-dropdown-list-item {
  line-height: 35px;
}

.user-wallet {
  border-radius: 15px;
  padding: 0 15px 0 0;
  height: 30px;
  line-height: 30px;
  float: right;
  font-size: $font-small;
  font-weight: normal;
  border: 1px solid $light-gray;
  color: #5F7482;

  @media #{$smartphones-1} {
    padding-right: 12px;
  }

  img {
    float: right;
    margin: 5px 0 0 15px;

    @media #{$smartphones-1} {
      margin-left: 12px;
    }
  }

  em {
    font-style: normal;
    padding-left: 15px;

    @media #{$smartphones-1} {
      padding-left: 12px;
    }
  }

  span {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    text-indent: -9999px;
    float: right;
    margin: 11px 0 0 5px;
  }
}

.wallet-on {
  background: $green;
}

.wallet-off {
  background: #C6DBE8;
}

