/**
HEADER
===========================
*/

.main-header {
  width: 100%;
  height: 60px;
  background: rgba($white, 1);
  @extend %clearfix;

  nav {
    float: right;
    margin-top: 14px;

    @media #{$smartphones-1} {
      border-right: 1px solid $dark-blue-2;
      background: rgba($dark-blue, 1);
      position: fixed;
      box-sizing: border-box;
      left: 0;
      bottom: 0;
      top: 0;
      width: 200px;
      z-index: 9999;
      margin-top: 0;
      padding: 20px;
    }
  }

  li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;

    @media #{$smartphones-1} {
      display: block;
    }
  }

  a {
    height: 30px;
    line-height: 30px;
    float: right;
    font-size: $font-medium;
    font-weight: normal;
    color: $dark-blue;
    text-decoration: none;

    @media #{$smartphones-1} {
      width: 100%;
      color: $light-gray;
      height: 36px;
      line-height: 36px;
      border-radius: 4px;
      background: rgba($medium-blue, .1);
      padding: 0 15px;
      margin: 0 0 2px 0;
      display: block;
      float: none;
    }

    &:hover {
      color: $white;
    }
  }
}

.menu-trigger {
  width: 30px;
  cursor: pointer;
  margin: 15px 0 0 15px;
  float: right;
  display: none;

  @media #{$smartphones-1} {
    display: block;
  }
}


// Logo

.logo {
  float: left;
  margin-top: 13px;
  width: 150px;

  @media #{$smartphones-1} {
    width: 85px;
  }
}


// User wallet

.user-wallet {
  border-radius: 15px;
  padding: 0 15px 0 0;
  height: 30px;
  line-height: 30px;
  float: right;
  font-size: $font-small;
  font-weight: normal;
  border: 1px solid $light-gray;
  margin-top: 14px;
  color: #5F7482;

  @media #{$smartphones-1} {
    padding-right: 12px;
  }

  img {
    float: right;
    margin: 5px 0 0 15px;

    @media #{$smartphones-1} {
      margin-left: 12px;
    }
  }

  em {
    font-style: normal;
    padding-left: 15px;

    @media #{$smartphones-1} {
      padding-left: 12px;
    }
  }

  span {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    text-indent: -9999px;
    float: right;
    margin: 11px 0 0 5px;
  }
}

.wallet-on {
  background: $green;
}

.wallet-off {
  background: #C6DBE8;
}

