/**
COMPONENTS
===========================
*/

.home-entry {
  width: 75%;
  max-width: 800px;
  text-align: center;

  @media #{$smartphones-1} {
    width: 90%;
  }
  
  h2 {
    margin: 10px 0 35px 0;
    font-weight: 600;
    font-size: $font-big-4;
    color: $light-gray;
    line-height: 47px;

    @media #{$smartphones-1} {
      font-size: $font-large-2;
      line-height: 34px;
      margin-top: 0;
    }
  }

  > img {
    width: 220px;
    margin-top: 100px;

    @media #{$smartphones-1} {
      width: 160px;
      margin-top: 50px;
    }
  }
}

.connect-wallet {
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  background: #060606;
  height: 38px;
  line-height: 35px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
  margin: 2px;
  cursor: pointer;
  border: 2px solid $medium-gray;

  &:hover {
    border-color: $white;
    box-shadow: 0 0 500px rgba($medium-gray, .3);
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.sweet-loading {
  display: block;
  margin: 0 auto;
}

