/**
HOME CALL
===========================
*/

.user-home {
  width: 615px;
  max-width: 615px;
  margin: 0 auto;
  padding-bottom: 110px;

  h1 {
    font-size: $font-bigger-2;
    text-align: left;
  }
}

.home-calls {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  li {
    list-style-type: none;
    width: 30%;
    height: 240px;
    background-color: #1C2124;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 23px;
  }

  h2 {
    font-size: $font-large-2;
    font-weight: normal;
    line-height: 28px;
    margin: 0;
  }

  p {
    font-size: $font-small;
    line-height: 17px;
    color: $light-gray;
    margin: 15px 0 0 0;
  }
}